p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
}

.description-text {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2px;
}

.end-sales {
    font-style: italic;
    color: rgb(227, 63, 45);
    font-weight: bold;
}