div {
    font-family: arial;
}

.sidebar-1 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.profiles {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 8px;
}

.right {
    background-color: rgb(55, 55, 55);
    padding-left: 15px;
    padding-right: 10px;
}

.disc {
    color: rgb(150, 150, 150);
    padding-bottom: 15px;
}

.name {
    color: white;
}

.huge {
    font-size: 25px;
}