p {
    font-family: arial;
    font-size: 14px;
    margin: 0 0 0 0;
}

.num {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin: 4px 10px 4px 4px;
}

.info {
    width: 200px;
}

.follow-button {
    padding: 8px 20px 8px 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(49, 108, 245, 0.845);
    border: none;
    border-radius: 6px;
}

.name {
    font-weight: bold;
}

.sub {
    color: rgb(140, 140, 140);
}

.min {
    color: rgb(140, 140, 140);
    font-size: 13px;
    font-weight: 300;
}