.Amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 200px;
    height: 30px;
    font-size: 12px;
    font-style: blockquote;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bold;
    transition: hover 0.15s, active 0.15s;
}

.Amazon-button:hover {
    background-color: rgb(255, 200, 20);
}

.Amazon-button:active {
    background-color: rgb(255, 180, 20);
}